.menu-conteiner{
	background:rgb(110,145,154);
	margin-bottom: 0;

}

.menu{
	display: inline;
}
.submenu-left{	
	list-style: none;
	
}
.submenu-right{
	list-style: none;
	float: right;
	
}
.item-class{
	text-decoration: none;	
	display: inline;
	padding: 2px;

}
.item-class img{
	width: 50px;
	height: 30px;
}

.main-container{
	margin: 0;
	background: rgb(110,145,154);
}
.main-container h1 h2{

	text-align: center;
}